<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <link type="text/css" rel="stylesheet" href="/css/test.css">
</head>
<body>

<div class="window-margin">
    <div class="window">

        <div class="main" role="main">

            <div class="top-bar">

                <div class="profile-box">
                    <div class="circle"></div>
                </div>

                <ul class="top-menu" style="list-style: none">
                    <li class="active"><a href="#">首页</a></li>
                    <li><a href="#">健身房</a></li>
                    <li><a href="#">教练</a></li>
                </ul>

            </div> <!-- top bar -->

            <div class="movie-list">
                <div class="title-bar">
                    <div class="left">
                        <p class="bold">附近健身房</p>
                    </div> <!-- left -->
                </div> <!-- title-bar -->

                <ul class="list">
                    <li>
                        <img src="/image/book1.jpg"/>
                        <p class="title">北交健身房</p>
                        <p class="genre">北京交通大学西门</p>
                        <p class="genre">110-110-110</p>
                    </li>
                    <li>
                        <img src="/image/gym2.jpg"/>
                        <p class="title">北邮健身房</p>
                        <p class="genre">北京邮电大学南门</p>
                        <p class="genre">110-110-110</p>
                    </li>
                    <li>
                        <img src="/image/gym3.jpg"/>
                        <p class="title">北师健身房</p>
                        <p class="genre">北京师范大学南门</p>
                        <p class="genre">110-110-110</p>
                    </li>

                    <li>
                        <img src="/image/book1.jpg"/>
                        <p class="title">北大健身房</p>
                        <p class="genre">北京大学南门</p>
                        <p class="genre">110-110-110</p>
                    </li>
                    <li>
                        <img src="/image/gym2.jpg"/>
                        <p class="title">清华健身房</p>
                        <p class="genre">清华大学南门</p>
                        <p class="genre">110-110-110</p>
                    </li>
                </ul>

                <a href="#" class="load-more">查看更多 <span class="fa fa-plus"></span></a>

            </div> <!-- movie list -->


        </div> <!-- main -->

    </div> <!-- window -->
</div> <!-- window margin -->
</body>
</html>